* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 14px;
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.lumos-page{
    overflow: hidden;
    height: 100vh;
}

.lumos-tabbody{
    overflow: auto;
    height: 100%;
    padding-bottom: 100px;
}